<!DOCTYPE html>
<html>

<head>
    <title>ncg.js test page</title>
    <meta name="user.type" content="nonsubscriber" />
    <meta name="user.exp" content="australia_ip" />
    <meta name="testkeys" content="C" />
    <meta name="page.section" content="Article" />
    <meta name="page.content.type" content="Article" />
    <meta name="page.content.format" content="responsive" />
    <meta name="og:type" content="article" />
    <meta name="page.content.source" content="WSJ Online Article" />
    <meta name="article.template" content="full" />
    <meta name="page.site" content="wsj" />
    <meta name="page.site.product" content="WSJ" />
    <meta name="page.region" content="na,us" />
    <meta name="article.id" content="SB10379869236197553734504582354331690909076" />
    <meta name="article.type" content="Technology" />
    <meta name="article.access" content="paid" />
    <meta name="article.origheadline" content="Twitter Is Expected to Field Bids This Week" />
    <meta name="article.headline" content="Twitter is expected to field bids this week; Salesforce bidding; Google, Disney may too   " />
    <meta name="article.summary" content="Twitter is expected to field bids this week, in a sign the long-awaited sale of the social-media pioneer could soon be at hand." />
    <meta name="apple-itunes-app" content="app-id=364387007,app-argument=wsj://launch?articleid=SB10379869236197553734504582354331690909076&headline=Twitter%20is%20expected%20to%20field%20bids%20this%20week%3B%20Salesforce%20bidding%3B%20Google%2C%20Disney%20may%20too&weburl=http://www.wsj.com/articles/SB10379869236197553734504582354331690909076" />
    <meta name="al:ios:url" content="wsj://launch?articleid=SB10379869236197553734504582354331690909076&headline=Twitter%20is%20expected%20to%20field%20bids%20this%20week%3B%20Salesforce%20bidding%3B%20Google%2C%20Disney%20may%20too&weburl=http://www.wsj.com/articles/SB10379869236197553734504582354331690909076" />
    <meta name="article.page" content="Tech" />
    <meta name="article.section" content="Tech" />
    <meta name="article.published" content="2016-10-04T22:49:00.000Z" />
    <meta itemprop="datePublished" content="2016-10-04T22:49:00.000Z" />
    <meta name="article.updated" content="2016-10-04T22:49:00.000Z" />
    <meta itemprop="dateModified" content="2016-10-04T22:49:00.000Z" />
    <meta name="article.created" content="2016-10-04T22:49:00.000Z" />
    <meta itemprop="dateCreated" content="2016-10-04T22:49:00.000Z" />
    <meta name="author" content="Monica Langley" />
    <meta name="keywords" content="benioff,bids for twitter,deal,disney,google,sale,salesforce,twitter,twitter sale,Salesforce.com,CRM,Twitter,TWTR,Alphabet Cl C,GOOGL,GOOG,LinkedIn,LNKD,Walt Disney,DIS,Google,Marc Benioff,Jack Dorsey,ownership changes,acquisitions,mergers,divestments,new products,services,marketing,markets,corporate actions,branding,corporate,industrial news,political,general news,computer services,diversified holding companies,cloud computing,business,consumer services,internet,online,media,entertainment,social media platforms,tools,technology" />
    <meta name="cXenseParse:wsj-keywords" content="benioff,bids for twitter,deal,disney,google,sale,salesforce,twitter,twitter sale,Salesforce.com,CRM,Twitter,TWTR,Alphabet Cl C,GOOGL,GOOG,LinkedIn,LNKD,Walt Disney,DIS,Google,Marc Benioff,Jack Dorsey,ownership changes,acquisitions,mergers,divestments,new products,services,marketing,markets,corporate actions,branding,corporate,industrial news,political,general news,computer services,diversified holding companies,cloud computing,business,consumer services,internet,online,media,entertainment,social media platforms,tools,technology" />
    <meta name="news_keywords" content="benioff,bids for twitter,deal,disney,google,sale,salesforce,twitter,twitter sale,Salesforce.com" />
    <meta name="description" content="Twitter is expected to field bids this week, in a sign the long-awaited sale of the social-media pioneer could soon be at hand." />
    <meta itemprop="description" content="Twitter is expected to field bids this week, in a sign the long-awaited sale of the social-media pioneer could soon be at hand." />
    <meta name="article.emb" content="video_emb" />
    <meta property="article:word_count" content="942" />
    <meta property="article:image_count" content="1" />
    <meta property="article:video_count" content="1" />
    <meta property="article:embed_count" content="1" />
    <meta property="article:internal_link_count" content="4" />
    <meta name="robots" content="noarchive,noodp" />
    <meta name="cXenseParse:wsj-primary-inset" content="image" />
    <meta name="language" content="en-US" />
    <meta itemprop="inLanguage" content="en-US" />
    <meta name="twitter:title" content="Twitter Is Expected to Field Bids This Week" />
    <meta name="twitter:description" content="Twitter is expected to field bids this week, in a sign the long-awaited sale of the social-media pioneer could soon be at hand." />
    <meta name="twitter:image" content="https://si.wsj.net/public/resources/images/BN-QC637_salesf_D_20161004165538.jpg" />
    <meta name="twitter:image:src" content="https://si.wsj.net/public/resources/images/BN-QC637_salesf_G_20161004165538.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:alt" content="Twitter is expected to field bids this week; Salesforce bidding; Google, Disney may too   " />
    <meta name="twitter:site" content="@WSJ" />
    <meta name="twitter:domain" content="wsj.com" />
    <meta name="fb:app_id" content="368513495882" />
    <meta property="og:title" content="Twitter Is Expected to Field Bids This Week" />
    <meta property="og:description" content="Twitter is expected to field bids this week, in a sign the long-awaited sale of the social-media pioneer could soon be at hand." />
    <meta property="og:url" content="http://www.wsj.com/articles/twitter-is-expected-to-field-bids-this-week-1475621345" />
    <meta itemprop="image" content="https://si.wsj.net/public/resources/images/BN-QC637_salesf_G_20161004165538.jpg" />
    <meta property="og:image" content="https://si.wsj.net/public/resources/images/BN-QC637_salesf_G_20161004165538.jpg" />
    <meta property="og:image:width" content="553" />
    <meta property="og:image:height" content="369" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="WSJ" />
    <meta property="article:publisher" content="https://www.facebook.com/wsj" />
    <meta name="cXenseParse:poptart:image" content="https://si.wsj.net/public/resources/images/BN-QC637_salesf_D_20161004165538.jpg">
    <meta name="cXenseParse:candybar:image" content="https://si.wsj.net/public/resources/images/BN-QC637_salesf_E_20161004165538.jpg">
</head>

<body>
    <script type="text/javascript">
    ncg_data = window.ncg_data || {};
    ncg_data.events = ncg_data.events || [];
    ncg_data.events.push(['cookie-sync', function(data) {
        console.log('cookie-sync', data);
    }]);
    // Load script. This should ALWAYS happen AFTER the ncg_data object is defined.
    (function() {
        var head = document.head || document.getElementsByTagName('head')[0],
            scr = document.createElement('script')
        scr.async = true;
        scr.src = '<%= testbase.base %><%= testbase.path %>/ncg.js';
        head.appendChild(scr);
    }());
    </script>
</body>

</html>
