<!DOCTYPE html>
<html>

<head>
    <title>ncg.js test page</title>
</head>

<body>
    <script>
        window.utag_data = {};
        window.utag_data.article_id = "48046";
        window.utag_data.article_published = "2016-09-19T18:03:09.000Z";
        window.utag_data.page_section = "WORLD";
        window.utag_data.article_access="free";
        window.utag_data.page_content_source="Heat Street";
    </script>
    <script type="text/javascript">
    ncg_data = window.ncg_data || {};
    ncg_data.events = ncg_data.events || [];
    ncg_data.events.push(['cookie-sync', function(data) {
        console.log('cookie-sync', data);
    }]);
    // Load script. This should ALWAYS happen AFTER the ncg_data object is defined.
    (function() {
        var head = document.head || document.getElementsByTagName('head')[0],
            scr = document.createElement('script')
        scr.async = true;
        scr.src = '<%= testbase.base %><%= testbase.path %>/ncg.js';
        head.appendChild(scr);
    }());
    </script>
</body>

</html>
