<!DOCTYPE html>
<html>
<head>
	<title>ncg.js test page</title>
</head>
<body>
<script type="text/javascript">
	ncg_data = window.ncg_data || {};
	ncg_data.events = ncg_data.events || [];
	ncg_data.events.push(['cookie-sync', function(data) {
		console.log('cookie-sync', this, data);
	}]);
	ncg_data.events.push(['ready', function(data) {
		// this.optOut();
		// this.optIn();
	}]);
	// Load script. This should ALWAYS happen AFTER the ncg_data object is defined.
    (function() {
        var head = document.head || document.getElementsByTagName('head')[0],
            scr = document.createElement('script')
            scr.async = true;
            scr.src = '<%= testbase.base %><%= testbase.path %>/ncg.js';
            head.appendChild(scr);
    }());
</script>
</body>
</html>