<!DOCTYPE html>
<html>
<head>
	<title>ncg.js test page</title>
</head>
<body>
<script type="text/javascript">
	(function() {
	
		ncg_data = window.ncg_data || {};
		
		// Newsletter subscriptions
		ncg_data.user_newsletter_id = 'my newsletter id';
		ncg_data.user_newsletter_provider = 'my newsletter provider'; // Eg: SalesForce | MailChimp | CampaignMonitor

		// If your DMP creates a unique id
		// for this browser, enter it here.
		// If you use more than DMP, enter the details for your main one.
		ncg_data.browser_dmp_id = 'my dmp id';
		ncg_data.browser_dmp_provider = 'my dmp provider'; // Eg: krux | bluekai

		// Ads PPID
		// If you send a Publisher Provided Id, or some other unique User Id
		// with your ads requests, please enter it here
		// PLEASE MAKE SURE THAT THIS ID IS TARGETABLE FOR AD SERVING.
		ncg_data.browser_ads_ppid = 'my ppid';
		ncg_data.browser_ads_provider = 'my ads platform'; // Eg: dfp 

		// If your Analytics platform creates a unique id
		// for this browser, enter it here.
		// If you use more than Analytics platform, enter the details for your main one.
		ncg_data.browser_analytics_id = 'my analytics id';
		ncg_data.browser_analytics_provider = 'my analytics provider'; // Eg: omniture | ga
		
		// // Any additional unique identifiers you have
		ncg_data.user_extra_ids = window.ncg_data.user_extra_ids || [];
		ncg_data.user_extra_ids.push({provider: 'some id provider', id: 'some id'});
		ncg_data.user_extra_ids.push({provider: 'some other id provider', id: 'some other id'});
		
		// Defer
		ncg_data.defer = true;
		// Load script. This should ALWAYS happen AFTER the ncg_data object is defined.
	    (function() {
	        var head = document.head || document.getElementsByTagName('head')[0],
	            scr = document.createElement('script')
	            scr.async = true;
	            scr.src = '<%= testbase.base %><%= testbase.path %>/ncg.js';
	            head.appendChild(scr);
	    }());

	    // Action defered
	    setTimeout(function() {
	    	// User information
			ncg_data.user_id = 'my deferred logged in id';
			ncg_data.user_provider = 'my id provider'; // Eg: gygia | auth0
			ncg_data.user_memtype = 'subscriber'; // anonymous | subscriber | registered 
		                                          // (default if not set is 'anonymous')
		    ncg_data.events.push(['pageview']);
	    }, 15000);
	})(); 
</script>
</body>
</html>