<!DOCTYPE html>
<html>

<head>
    <title>ncg.js test page</title>
</head>

<body>
    <script>
    //< ![CDATA[
            window.MOVE_DATA = {}; MOVE_DATA.isPhone = null; MOVE_DATA.app_js = ["http://static.move.com/lib/rdc-v8/assets/application_non_critical-26dc7b2d4fa0b4ed341c46f7b0092a189a368e9dbe2ee73888a4a256dd5d9f08.js", "http://static.move.com/lib/rdc-v8/assets/srp_non_critical-9702467556e202e94c018dc79bdb1bbaec6c7efcb0b129f9ddbb0911f854094a.js"]; MOVE_DATA.railsEnvironment = "production"; MOVE_DATA.pageType = "srp"; MOVE_DATA.adobeDTM = {
                "pageType": "srp-list",
                "searchCity": "Washington Township",
                "searchState": "OH",
                "searchZip": "2000",
                "searchCounty": "US",
                "searchRadius": null,
                "searchNeighborhood": null,
                "searchStreet": null,
                "searchMinPrice": "100000",
                "searchMaxPrice": "200000",
                "searchBedrooms": "2",
                "searchBathrooms": "3",
                "searchResultCount": 2326,
                "searchSqFt": null,
                "searchType": "city",
                "searchPropertyType": "any",
                "searchSortResults": "turbocharge,newest,photos",
                "propertyStatus": "for_sale",
                "propertyStatusSub": null,
                "searchPage": 1,
                "searchPageSize": 15,
                "searchListingActivity": "",
                "listingID-basic": "594152053,594133837,594131705",
                "listingID-showcase": "594133681,413505197897,413089408043,594122841,594125025,594136853,594116973,594101789,594091977",
                "listingID-cobroke": "594134373,594121793,594091401",
                "communityID-showcase": null,
                "communityID-basic": null,
                "communityID-featured": null,
                "advertiserID": "27709,560820,560820,35858,1506730,2029043,823154,1514024,90382,1828781,2235196,4799,1160597",
                "mprID": "3474392303,4163641471,3337290900,3020783822,4193672381,4980096816,3128457543,4888815528,4730882463,3160153252,4609078990,4099423663,3754502908",
                "subID-showcase": null,
                "planID-showcase": null,
                "searchMod": "geoMod",
                "searchID": "08c848db8103460f94d3cc0c346d92e6",
                "turboCt": 0,
                "listingID-turboActive": "",
                "searchFacets": null,
                "searchFeatures": null,
                "identityStatus": "registered",
                "identityID": "57b63ad4824508f813003fec",
                "appVersion": "8.0.0.1",
                "userTesting": "renovate:dialUp:testGroup"
            }; MOVE_DATA.validatedLocation = "Washington Township, OH"; MOVE_DATA.originalReferringUrl = "http://www.realtor.com/"; MOVE_DATA.memberId = "57b63ad4824508f813003fec"; MOVE_DATA.searchResults = {
                "search_criteria": "Washington-Township_OH",
                "search_controller": "Search::PropertiesController",
                "sort": null,
                "position": null,
                "city": "Washington Township",
                "state": "OH",
                "postal": null,
                "county": ""
            }; MOVE_DATA.defaultFormattedFacets = {
                "facets": {
                    "beds_min": 0,
                    "beds_max": 7,
                    "baths_min": 0,
                    "baths_max": 9,
                    "prop_type": [],
                    "sqft_min": null,
                    "acre_min": null,
                    "age_max": null,
                    "age_min": null,
                    "radius": null,
                    "show_listings": null,
                    "pending": null,
                    "foreclosure": null
                }
            }; MOVE_DATA.facets = {
                "beds_min": null,
                "beds_max": null,
                "baths_min": null,
                "baths_max": null,
                "price_min": null,
                "price_max": null,
                "prop_type": "",
                "sqft_min": null,
                "acre_min": null,
                "age_max": null,
                "age_min": null,
                "radius": null,
                "pets": null,
                "show_listings": null,
                "pending": null,
                "foreclosure": null,
                "multi_search": {},
                "features_hash": []
            }; MOVE_DATA.mapConfiguration = {
                "google_maps_api_key": "",
                "google_maps_client_id": "gme-movesalesinc",
                "google_maps_version": "3.24",
                "mode": "min",
                "service_url": "http://maps.move.com/v3",
                "cdn_url": "http://static.move.com",
                "map_version": "3.4.1"
            }; MOVE_DATA.searchLatLong = {
                "latitude": "39.32740435294118",
                "longitude": "-84.053225411764686"
            }; MOVE_DATA.seoURL = "/realestateandhomes-search/Washington-Township_OH"; MOVE_DATA.cloudinary_slug = ["San-Francisco_CA", "New-York_NY", "Los-Angeles_CA", "Miami_FL", "Las-Vegas_NV", "Orlando_FL", "Dallas_TX", "Chicago_IL", "Atlanta_GA", "San-Antonio_TX", "Houston_TX", "Tampa_FL", "Austin_TX", "Charlotte_NC", "Columbus_OH", "San-Diego_CA", "Denver_CO", "Dallas_TX", "New-York-City_NY", "Baltimore_MD", "Washington_DC", "Philadelphia_PA", "Canton_Baltimore_MD", "Charles-Village_Baltimore_MD", "Northeastern-Baltimore_Baltimore_MD", "Adams-Morgan_Washington_DC", "Brookland_Washington_DC", "Capitol-Hill_Washington_DC", "Columbia-Heights_Washington_DC", "Dupont-Circle_Washington_DC", "Georgetown_Washington_DC", "Minneapolis_MN", "Dinkytown_Minneapolis_MN", "Saint-Louis-Park_MN", "Eden-Prairie_MN", "Edina_MN", "Saint-Paul_MN", "Hyde-Park_Austin_TX", "South-Congress_Austin_TX", "Barton-Hills_Austin_TX", "Zilker_Austin_TX", "Binder_CA"]; MOVE_DATA.locationType = "city";
            //]]>
    </script>
    <script type="text/javascript">
    ncg_data = window.ncg_data || {};
    ncg_data.events = ncg_data.events || [];
    ncg_data.events.push(['cookie-sync', function(data) {
        console.log('cookie-sync', data);
    }]);
    // Load script. This should ALWAYS happen AFTER the ncg_data object is defined.
    (function() {
        var head = document.head || document.getElementsByTagName('head')[0],
            scr = document.createElement('script')
        scr.async = true;
        scr.src = '<%= testbase.base %><%= testbase.path %>/ncg.js';
        head.appendChild(scr);
    }());
    </script>
</body>

</html>
