<!DOCTYPE html>
<html>

<head>
    <title>ncg.js test page</title>
    <meta property="og:country-name" content="USA" />
</head>

<body>
    <script>
    //<![CDATA[
    window.MOVE_DATA = {};
    MOVE_DATA.isPhone = null;
    MOVE_DATA.app_js = ["http://static.move.com/lib/rdc-v8/assets/application_non_critical-26dc7b2d4fa0b4ed341c46f7b0092a189a368e9dbe2ee73888a4a256dd5d9f08.js", "http://static.move.com/lib/rdc-v8/assets/ldp_non_critical-da2f4c9cac38e06bd25547432a92fa6a57122b6e52f0e233caff0c0e2a967dda.js"];
    MOVE_DATA.railsEnvironment = "production";
    MOVE_DATA.pageType = "ldp";
    MOVE_DATA.propertyDetails = {
        "property_id": 4163641471,
        "listing_id": 594134373,
        "status": "for_sale",
        "property_type": "for_sale",
        "headline": null,
        "lat": 39.282571,
        "long": -83.975087,
        "address": "7470 Fairground Rd",
        "city": "Marion Township",
        "state_code": "OH",
        "postal_code": "45107",
        "price": 119000,
        "price_display": "$119,000",
        "product_type": "cobroke",
        "community_id": null,
        "id": null,
        "photo_count": 19,
        "is_cobroke": true,
        "is_showcase": false,
        "is_office_standard": false,
        "is_suppress_map_pin": false,
        "is_pre_approved": true,
        "is_address_suppressed": false,
        "agent_adv_id": 560820,
        "broker_adv_id": null,
        "advertiser_id": 560820,
        "map": {
            "google_maps_api_key": "",
            "google_maps_client_id": "gme-movesalesinc",
            "google_maps_version": "3.24",
            "mode": "min",
            "service_url": "http://maps.move.com/v3",
            "cdn_url": "http://static.move.com",
            "map_version": "3.4.1"
        },
        "hoa_fees": null
    };
    MOVE_DATA.memberId = "57b63ad4824508f813003fec";
    MOVE_DATA.originalReferringUrl = "http://www.realtor.com/realestateandhomes-search/Washington-Township_OH";
    MOVE_DATA.median_listing_price = 49950;
    MOVE_DATA.adobeDTM = {
        "listingCounty": "Clinton",
        "listingCity": "Marion Township",
        "listingZip": "45107",
        "listingState": "OH",
        "listingNeighborhood": null,
        "propertyType": "single_family",
        "propertyStatus": "for_sale",
        "productType": "cobroke",
        "productTypeSub": "rcm",
        "listingPrice": 119000,
        "listingSqFt": 1104,
        "pageType": "ldp",
        "listingSource": "CIOH",
        "listingStatus": "active",
        "listingBeds": 3,
        "listingBaths": "2",
        "propertyStatusSub": null,
        "listingActivity": "new listing",
        "mprID": 4163641471,
        "planID": null,
        "subID": null,
        "listingID": 594134373,
        "office_advertiser_id": null,
        "agent_advertiser_id": 560820,
        "listing_advertiser_ids": null,
        "local_advertiser_ids": null,
        "listingPhotoCt": 19,
        "dataSourceType": null,
        "communityId": null,
        "isCostar": false,
        "roleType": "",
        "listingKey": null,
        "nearbyRR_lid": "594133837,593868269",
        "nearbyRR_advertiserID": "560820,131122",
        "identityStatus": "registered",
        "identityID": "57b63ad4824508f813003fec",
        "appVersion": "8.0.0.1",
        "userTesting": "renovate:dialUp:testGroup"
    };
    MOVE_DATA.mapConfiguration = {
        "google_maps_api_key": "",
        "google_maps_client_id": "gme-movesalesinc",
        "google_maps_version": "3.24",
        "mode": "min",
        "service_url": "http://maps.move.com/v3",
        "cdn_url": "http://static.move.com",
        "map_version": "3.4.1"
    };
    MOVE_DATA.cloudinary_slug = ["San-Francisco_CA", "New-York_NY", "Los-Angeles_CA", "Miami_FL", "Las-Vegas_NV", "Orlando_FL", "Dallas_TX", "Chicago_IL", "Atlanta_GA", "San-Antonio_TX", "Houston_TX", "Tampa_FL", "Austin_TX", "Charlotte_NC", "Columbus_OH", "San-Diego_CA", "Denver_CO", "Dallas_TX", "New-York-City_NY", "Baltimore_MD", "Washington_DC", "Philadelphia_PA", "Canton_Baltimore_MD", "Charles-Village_Baltimore_MD", "Northeastern-Baltimore_Baltimore_MD", "Adams-Morgan_Washington_DC", "Brookland_Washington_DC", "Capitol-Hill_Washington_DC", "Columbia-Heights_Washington_DC", "Dupont-Circle_Washington_DC", "Georgetown_Washington_DC", "Minneapolis_MN", "Dinkytown_Minneapolis_MN", "Saint-Louis-Park_MN", "Eden-Prairie_MN", "Edina_MN", "Saint-Paul_MN", "Hyde-Park_Austin_TX", "South-Congress_Austin_TX", "Barton-Hills_Austin_TX", "Zilker_Austin_TX", "Binder_CA"];
    MOVE_DATA.enableMiniRateTable = true;
    //]]>
    </script>
    <script type="text/javascript">
    ncg_data = window.ncg_data || {};
    ncg_data.events = ncg_data.events || [];
    ncg_data.events.push(['cookie-sync', function(data) {
        console.log('cookie-sync', data);
    }]);
    // Load script. This should ALWAYS happen AFTER the ncg_data object is defined.
    (function() {
        var head = document.head || document.getElementsByTagName('head')[0],
            scr = document.createElement('script')
        scr.async = true;
        scr.src = '<%= testbase.base %><%= testbase.path %>/ncg.js';
        head.appendChild(scr);
    }());
    </script>
</body>

</html>
