<!DOCTYPE html>
<html>

<head>
    <title>ncg.js test page</title>
</head>

<body>
    <a href="?geocoded_location%5Bformatted_name%5D=Australia&geocoded_location%5Bformatted_address%5D=Australia&geocoded_location%5Bcountry%5D=Australia&location=Australia&userSearchText=aust">Test 1</a>
    <a href="?geocoded_location%5Bformatted_name%5D=Victoria&geocoded_location%5Bformatted_address%5D=Victoria%2C+Australia&geocoded_location%5Badministrative_area_level_1%5D=Victoria&geocoded_location%5Bcountry%5D=Australia&location=Victoria%2C+Australia&userSearchText=aust">Test 2</a>
    <a href="?geocoded_location%5Bformatted_name%5D=Lower+Manhattan&geocoded_location%5Bformatted_address%5D=Lower+Manhattan%2C+New+York%2C+NY%2C+USA&geocoded_location%5Bneighborhood%5D=Lower+Manhattan&geocoded_location%5Bsublocality%5D=Manhattan&geocoded_location%5Blocality%5D=New+York&geocoded_location%5Badministrative_area_level_1%5D=New+York&geocoded_location%5Bcountry%5D=United+States&location=Lower+Manhattan%2C+New+York%2C+NY%2C+USA&userSearchText=new">Test 3</a>
     <a href="?geocoded_location%5Bformatted_name%5D=60137&geocoded_location%5Bformatted_address%5D=Glen+Ellyn%2C+IL+60137%2C+USA&geocoded_location%5Bpostal_code%5D=60137&geocoded_location%5Badministrative_area_level_1%5D=Illinois&geocoded_location%5Bcountry%5D=United+States&location=Glen+Ellyn%2C+IL+60137%2C+USA&userSearchText=60137">Test 4</a>
     <a href="?geocoded_location%5Bformatted_name%5D=California&geocoded_location%5Bformatted_address%5D=California%2C+USA&geocoded_location%5Badministrative_area_level_1%5D=California&geocoded_location%5Bcountry%5D=United+States&location=California%2C+USA&userSearchText=California%2C+USA&lifestyles%5B%5D=country-living&lifestyles%5B%5D=historic-antique&lifestyles%5B%5D=waterfront">Test multiple lifestyles</a>
      <a href="?geocoded_location%5Bformatted_name%5D=90210&geocoded_location%5Bformatted_address%5D=Beverly+Hills%2C+CA+90210%2C+USA&geocoded_location%5Bpostal_code%5D=90210&geocoded_location%5Badministrative_area_level_1%5D=California&geocoded_location%5Bcountry%5D=United+States&location=90210&userSearchText=90210&min_price=100000000&max_price=300000000&lifestyles%5B%5D=country-living&min_bedrooms=1&min_bathrooms=3&property_type%5B%5D=loft">Test Full</a>
    <script type="text/javascript">

    ncg_data = window.ncg_data || {};
    ncg_data.events = ncg_data.events || [];
    ncg_data.events.push(['cookie-sync', function(data) {
        console.log('cookie-sync', data);
    }]);
    // Load script. This should ALWAYS happen AFTER the ncg_data object is defined.
    (function() {
        var head = document.head || document.getElementsByTagName('head')[0],
            scr = document.createElement('script')
        scr.async = true;
        scr.src = '<%= testbase.base %><%= testbase.path %>/ncg.js';
        head.appendChild(scr);
    }());
    </script>
</body>

</html>
